$Darkblue : hsl(223, 47%, 23%);
$Desaturatedblue : hsl(224, 23%, 55%);
$Paleblue :  hsla(225, 100%, 94%, 1);
$Brightblue : hsl(245, 75%, 52%);
$Vpaleblue : hsl(225, 100%, 98%);
$white : hsl(0, 0%, 100%);
$pinkish : hsl(308, 100%, 78%);
$blacky : hsla(0, 0%, 0%, 0.07);
$violet : hsl(292, 100%, 81%);
$violet2 : hsl(292, 96%, 37%);
$green : hsl(161, 91%, 45%);
